.landing {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 1.5em;
}

.landing-img {
  background: url("../../assets/brightpurple.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.logo {
  font-size: 3em;
  background: linear-gradient(to right, #590fb7,#ff0076, #590fb7);
  background-clip: text;
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.welcome {
  color: #ff0076;
  /* text-shadow: #000 1px 0 10px;; */
}