.profile-background-img {
  background: url("../../assets/pinkclouds.png");
  background-position: center;
  background-size: cover;
}

.profile-photo {
  border-radius: 50%;
  box-shadow: 3px 3px 10px black;
  margin: 2% 0;
}

.emergency-form {
  background-color: #f8f8ff;
  border-radius: 3px;
  width: 70%;
  margin: 3%;
  padding: 3%;
}

.emergency-label {
  margin-bottom: 3%;
}

.emergency-input {
  margin-top: 3%;
}

@media screen and (max-width: 320px) {
  .emergency-form {
    width: 80%;
  }
}

@media screen and (min-width: 900px) {
  .emergency-form {
    width: 40%;
    margin: 1%;
    padding: 1%;
  }

  .profile-photo {
    margin: 1% 0;
  }
}
