form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tour-form-container {
  height: 75vh;
  overflow: scroll;
}

.ride-img {
  width: 90%;
  height: auto;
}

.form-basic {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5% 1% 3% 1%;
}

.form-subform {
  height: 68vh;
}

.step {
  width: 80vw;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  height: 30px;
  padding: 0 5%;
}

textarea {
  width: 90%;
  resize: none;
  pointer-events: auto;
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-label {
  text-align: left;
  margin-bottom: 5%;
}

.checkbox {
  margin-right: 3%;
  width: 4%;
}