.tour-form-container-wrapper {
  display: flex;
  flex-direction: column;
}

.tour-form-container {
  height: 75vh;
  overflow: scroll;
}

.ride-img {
  width: 75%;
  margin-bottom: 5%;
  box-shadow: 3px 3px 10px black;
}

.form-basic {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5% 3%;
  border-bottom: 1px solid #900aa1;
  padding-bottom: 5%;
}

.form-subform {
  height: 68vh;
}

.step-container {
  background: linear-gradient(to right, #590fb7, #ff0076);
  margin: 0 10%;
  padding: 2% 0;
  border-radius: 3px;
  display: flex;
  justify-content: space-evenly;
}

.form-nav {
  background: none;
  border: none;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.form-nav:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.form-nav-active {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.step {
  width: 80vw;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  width: 100%;
}

.section-title h3 {
  margin: 0;
}

.checkbox {
  margin-right: 3%;
  width: 4%;
}

.departure {
  background: none;
  border: none;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

.departure:hover {
  color: #900aa1;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

@media screen and (max-width: 320px) {
    .form-basic {
      flex-direction: column;
      margin: 5% 3%;
      border-bottom: 1px solid #900aa1;
      padding-bottom: 5%;
      height: 25%;
    }

    .form-label {
      text-align: center;
    }

    .ride-img {
    margin-bottom: none;
  }
}

@media screen and (min-width: 900px) {
  .tour-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .disabled {
    margin: 1%;
  }

  .form-basic {
    width: 60vw;
    margin: 1% 3%;
    padding-bottom: 3%;
  }

  .step-container {
    margin: 0 23%;
    padding: 1% 0;
  }

  .section-title {
    margin-top: 3%;
  }

  .section-title-ride {
    margin-top: 0%;
    margin-bottom: 2%;
  }

  .checkbox {
    margin-right: 2%;
    width: 2%;
  }

  .prompt-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .prompt {
    width: 65%;
    margin: 2.5%;
  }

  .ride-img {
    width: 40%;
  }
}