form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tour-form-container {
  height: 75vh;
  overflow: scroll;
}

.ride-img {
  width: 90%;
  height: auto;
}

.form-basic {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5% 3%;
  border-bottom: 1px solid #900aa1;
  padding-bottom: 5%;
}

.form-subform {
  height: 68vh;
}

.step-container {
  background: linear-gradient(to right, #590fb7, #ff0076);
  margin: 0 15%;
  padding: 2% 0;
  border-radius: 3px;
  display: flex;
  justify-content: space-evenly;
}

.form-nav {
  background: none;
  border: none;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.form-nav:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.form-nav-active {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

button:focus {
  outline: none;
}

.step {
  width: 80vw;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  width: 100%;
}

.section-title-ride {
  margin: 0 0 3% 0;
}

.section-title h3 {
  margin: 0;
}

.section-description {
  font-style: italic;
  font-size: 0.8em;
  margin: 1% 0 5% 0;
}

input {
  height: 30px;
  padding: 0 5%;
}

textarea {
  width: 100%;
  height: 10vh;
  overflow: scroll;
  pointer-events: auto;
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-label {
  text-align: left;
  margin-bottom: 5%;
}

.checkbox {
  margin-right: 3%;
  width: 4%;
}

.departure {
  background: none;
  border: none;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
}

.departure:hover {
  color: #900aa1;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}
