.current-background-img {
  background: url("../../assets/lightpurple.png");
  background-position: center;
  background-size: cover;
}

.card-icon {
  padding-left: 3%;
}

.card-location {
  font-size: 1em;
}