.past-background-img {
  background: url("../../assets/bluepurplejagged.png");
  background-position: center;
  background-size: cover;
}

.tour-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1% 3%;
}

.title-wrapper,
.category-wrapper,
.sub-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
}

.title {
  font-size: 2em;
}

.category {
  border-bottom: 1px solid #900aa1;
  margin: 2%;
  font-size: 1.4em;
}

.plan-wrapper {
  height: 99vh;
  overflow: scroll;
  background: linear-gradient(to right, #900aa1, #737dfe, #900aa1);
}

.border-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plan,
.ride,
.debrief {
  background-color: #f8f8ff;
  border: 2px solid #900aa1;
  margin: 1.5%;
  padding: 2%;
}

.sub-category {
  margin: 3%;
}

.input-wrapper {
  width: 80vw;
  height: 20%;
  border-radius: 0px;
  background: #f8f8ff;
  box-shadow: inset 5px 5px 10px #dadae0, -5px -5px 10px #ffffff;
}

.tour-input {
  padding: 5%;
  margin: 3%;
  font-size: 1.1em;
}

.check-icon {
  width: 10%;
}

.arrow-icon {
  width: 4%;
}

.search-input {
  margin-top: 3%;
  background-color: #fff;
}

.search-bar {
  display: grid;
  grid-template-columns: 2.5rem 4fr 1fr;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  width: 75vw;
}

.search-bar:focus-within img {
  display: none;
}

.search-bar:focus-within .search-box {
  grid-column: 1/4;
}

.search-bar:focus-within .search-box::placeholder {
  color: transparent;
}

.search-icon {
  padding: 0.5rem;
  grid-row: 1;
  grid-column: 1/2;
  z-index: 2;
}

.search-box {
  border: 0;
  padding: 0.5rem;
  grid-column: 2/4;
  grid-row: 1;
  outline: none;
}
