.past-tours {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tour-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    width: 30%;
    border: 2px solid #8420E9;
    border-radius: 3px;
    margin: 1% 0;
}

.card-info {
    width: 50%;
}