.login-button {
  padding: 2% 5%;
  font-size: 1em;
  background-color: #f8f8ff;
  color: #900aa1;
  border: 3px solid #900aa1;
  font-weight: bold;
  border-radius: 3px;
  text-transform: uppercase;
  margin-top: 3%;
}

.login-button:hover {
  color: #FF0076;
  border: 3px solid #FF0076;
  cursor: pointer;
}

.logout-button {
  padding: 2% 4%;
  font-size: 1em;
  background-color: #fff;
  color: #900aa1;
  font-weight: bold;
  border: 3px solid #900aa1;
  border-radius: 3px;
  margin-top: 3%;
}

.logout-button:hover {
  background-color: #900aa1;
  color: #fff;
  cursor: pointer;
}
